<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos - Inspectia WEB</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/css/estilos.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-primary">Inspectia Politicas</h1>
    <p class="lead">Somos una empresa enfocada en la ISO 25000 con altos estándares de calidad
        para la revisión de software, 
    </p>

    <div class="mt-4">
      <a href="/" class="btn btn-outline-secondary">Cerrar sesión</a>
    </div>
  </div>
</body>
</html>


